[run]
omit =
    # omit anything in a .local directory anywhere
    */.local/*

    # omit everything in /usr
    /usr/*

    # omit tests files
    tests/*.py

    # omit __init__.py files
    */__init__.py
